{% extends 'base-with-sidebar.html' %}
{% load i18n %}

{% block left %}
{% include 'user-panel.html' %}
{% endblock %}

{% block right %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{% trans 'user settings' %}</h3>
    </div>
    <form class="form-horizontal panel-body" method="post" action="">
        {% csrf_token %}
        <div class="form-group ">
            <label class="col-sm-2 control-label" for="nickname">{% trans 'nickname' %}</label>
            <div class="col-sm-10">
                <input class="form-control" id="nickname" name="nickname"  value="{% if request.user.profile.nickname%}{{request.user.profile.nickname}}{%endif%}">
            </div>
        </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label" for="location">{% trans 'location' %}</label>
            <div class="col-sm-10">
                <input class="form-control" id="location" name="location" value="{% if request.user.profile.location%}{{request.user.profile.location}}{%endif%}">
            </div>
        </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label" for="website">{% trans 'website' %}</label>
            <div class="col-sm-10">
                <input class="form-control" id="website" name="website" type="url" value="{% if request.user.profile.website%}{{request.user.profile.website}}{%endif%}">
            </div>
        </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label" for="email">Email</label>
            <div class="col-sm-10">
                <input class="form-control" id="email" name="email" type="email" value="{{request.user.email}}">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
            <hr />
                <button class="btn btn-success">
                    {% trans 'update' %}
                </button>
                <a class="btn btn-link" href="{% url 'change_password' %}">{% trans 'change password' %}</a>
                <a class="btn btn-link" href="{% url 'user_avatar' %}">{% trans 'avatar settings' %}</a>
            </div>
        </div>
    </form>
</div>

{% endblock %}
