{% extends 'panel/base.html' %}
{% load i18n %}
{% block main %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{% trans 'classify management' %}</h1>
    </div>
</div>
    <!-- /.col-lg-12 -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                  {% trans 'all classifies' %}
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-default table-bordered table-hover" id="database">
                            <thead>
                                <tr>
                                    <th>{% trans 'classify name' %}</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_ext %}

<script src="/static/panel/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="/static/panel/js/tabletools.js"></script>
<script src="/static/panel/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<script>
$(document).ready(function() {
        $('#database').dataTable({
            "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Chinese.json"},
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "{% url 'panel:classify_table_ss' %}",
            "sDom": "<'row'<'col-sm-4'l><'col-sm-8 text-right'f>r>" + "t" + "<'row'<'col-sm-4'i><'col-sm-8 text-right'p>>",
            "aoColumnDefs": [{ 'bSortable': true, 'aTargets': [ -1 ] }],
            });
        });

</script>
{% endblock %}
